# Copyright (c) Microsoft Corporation
# SPDX-License-Identifier: MIT

name: Build

on:
  workflow_call:
    inputs:
      platform:
        required: true
        type: string
      configuration:
        required: true
        type: string
      option:
        required: false
        type: string

permissions:
  contents: read

jobs:
  build:

    runs-on: ${{inputs.platform}}
    env:
      BUILD_TYPE: ${{inputs.configuration}}

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@f086349bfa2bd1361f7909c78558e816508cdc10 # v2.8.0
      with:
        egress-policy: audit

    - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      with:
        submodules: 'recursive'

    - name: Install prerequisites - Ubuntu-22.04
      if: inputs.platform == 'ubuntu-22.04'
      run: |
        sudo apt update
        sudo apt-get install -y \
         gcc-multilib \
         lcov \
         pkg-config \
         libelf-dev \

    - name: Clone and build libbpf - Ubuntu-22.04
      if: inputs.platform == 'ubuntu-22.04'
      run: |
        git clone https://github.com/libbpf/libbpf.git
        cd libbpf
        git checkout v0.7.0
        cd src
        make
        sudo LIBDIR=/lib/x86_64-linux-gnu make install
        sudo ldconfig

    - name: Download the ebpf-for-windows build nuget package
      if: inputs.platform == 'windows-2019' || inputs.platform == 'windows-2022'
      uses: actions/download-artifact@b1f1d5
      with:
        name: ebpf-for-windows - NuGet package (none_Release)
        path: ${{github.workspace}}/local_packages

    - name: Get Linux Kernel version
      if: inputs.platform == 'ubuntu-22.04'
      run: |
        echo "COMMIT_SHA=$(uname -r)" >> $env:GITHUB_ENV

    - name: Configure CMake - Windows-2019 or Windows-2022
      if: inputs.platform == 'windows-2019' || inputs.platform == 'windows-2022'
      run: |
        cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBPF_PERF_LOCAL_NUGET_PATH=${{github.workspace}}/local_packages

    - name: Configure CMake - Ubuntu-22.04
      if: inputs.platform == 'ubuntu-22.04'
      run: |
        if [ "${{inputs.option}}" = "sanitizer" ]; then
          export SANITIZER_FLAGS="-fsanitize=address -fsanitize=undefined -fno-sanitize-recover=all"
        fi
        if [ "${{inputs.option}}" = "coverage" ]; then
          export COVERAGE_FLAGS="-DCMAKE_CXX_FLAGS=\"--coverage\" -DCMAKE_C_FLAGS=\"--coverage\""
        fi
        cmake \
          -B ${{github.workspace}}/build \
          -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
          -DCMAKE_CXX_FLAGS="${SANITIZER_FLAGS}" \
          -DCMAKE_C_FLAGS="${SANITIZER_FLAGS}" \
          ${COVERAGE_FLAGS}

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Upload artifacts
      uses: actions/upload-artifact@82c141cc518b40d92cc801eee768e7aafc9c2fa2 # v2.3.1
      with:
        name: build-${{env.BUILD_TYPE}}-${{inputs.platform}}-${{inputs.option}}
        path: ${{github.workspace}}/build/bin
