# Copyright (c) Microsoft Corporation
# SPDX-License-Identifier: MIT

# Main YML file for the CICD pipeline

name: CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  # Run on a daily schedule to perform the full set of tests.
  schedule:
    - cron: '00 21 * * *'

permissions:
  id-token: write
  contents: read
  packages: write
  security-events: write # Required by codeql task

concurrency:
  # Cancel any CI/CD workflow currently in progress for the same PR.
  # Allow running concurrently with any other commits.
  group: cicd-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  # build_ebpf_for_windows:
  #   name: Build ebpf-for-windows
  #   uses: microsoft/ebpf-for-windows/.github/workflows/reusable-build.yml@main
  #   with:
  #     build_artifact: none
  #     build_msi: true
  #     build_nuget: true
  #     build_options: /t:installer\ebpf-for-windows
  #     repository: 'microsoft/ebpf-for-windows'
  #     configurations: '["Release"]'
  #     ref: ${{ github.event.client_payload.sha || github.event.client_payload.ref || inputs.ref || 'main' }}
  #     perform_skip_check: false

  build_and_test:
    # needs:
    #   - build_ebpf_for_windows
    strategy:
      matrix:
        configuration: [ 'Release' ]
        platform: [ 'ubuntu-22.04', 'windows-2019', 'windows-2022' ]
        option: [ none, sanitizer, coverage, jit ]
        exclude:
          - platform: windows-2019
            option: sanitizer
          - platform: windows-2019
            option: coverage
          - platform: windows-2022
            option: sanitizer
          - platform: windows-2022
            option: coverage
          - platform: ubuntu-22.04
            option: jit

    uses: ./.github/workflows/Build.yml
    with:
      platform: ${{ matrix.platform }}
      configuration: ${{ matrix.configuration }}
      option: ${{ matrix.option }}

  finish:
    needs:
      - build_and_test
    runs-on: ubuntu-22.04
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@f086349bfa2bd1361f7909c78558e816508cdc10 # v2.8.0
      with:
        egress-policy: audit

    - name: Coveralls Finished
      uses: coverallsapp/github-action@643bc377ffa44ace6394b2b5d0d3950076de9f63 # v2.3.0
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true

  upload_results:
    if: github.event_name == 'schedule' || github.event_name == 'push'
    needs:
      - build_and_test
    uses: ./.github/workflows/UploadPerfResults.yml
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}