# Copyright (c) Microsoft Corporation
# SPDX-License-Identifier: MIT

# This workflow uploads the performance results to a Postgres database.

name: Reusable Test Workflow

on:
  workflow_call:
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true

permissions:
  contents: read

jobs:
  upload_results:
    permissions:
      contents: read  # for actions/checkout to fetch code
      id-token: write  # for azure/login to get credentials from GitHub OIDC provider
    strategy:
      matrix:
        platform: [ 'ubuntu-22.04', 'windows-2019', 'windows-2022' ]

    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
      with:
        egress-policy: audit

    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

    - name: Download performance result artifacts
      uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16
      with:
        name: results-Release-${{matrix.platform}}-none
        path: results

    - name: Post-process results
      run: |
        python3 scripts/process_results.py --csv-directory ${{github.workspace}}/results --sql-script-file ${{github.workspace}}/results/upload.sql --commit_id "$(cat ${{github.workspace}}/results/commit_sha.txt)" --platform ${{matrix.platform}} --repository ${{github.repository}}

    - name: Log into Azure
      uses: azure/login@a65d910e8af852a8061c627c456678983e180302 # v2.2.0
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Fetch secrets
      run: |
        az keyvault secret show --vault-name bpfperformacesecrets --name PGDATABASE --query value | sed 's/"//g' > ${{github.workspace}}/PGDATABASE
        az keyvault secret show --vault-name bpfperformacesecrets --name PGHOST --query value | sed 's/"//g' >> ${{github.workspace}}/PGHOST
        az keyvault secret show --vault-name bpfperformacesecrets --name PGUSER --query value | sed 's/"//g' >> ${{github.workspace}}/PGUSER
        az keyvault secret show --vault-name bpfperformacesecrets --name PGPASSWORD --query value | sed 's/"//g' >> ${{github.workspace}}/PGPASSWORD
        az keyvault secret show --vault-name bpfperformacesecrets --name PGPORT --query value | sed 's/"//g' >> ${{github.workspace}}/PGPORT

    - name: Upload results to POSTGRES
      run: |
        export PGPASSWORD=$(cat ${{github.workspace}}/PGPASSWORD)
        export PGHOST=$(cat ${{github.workspace}}/PGHOST)
        export PGUSER=$(cat ${{github.workspace}}/PGUSER)
        export PGPORT=$(cat ${{github.workspace}}/PGPORT)
        export PGDATABASE=$(cat ${{github.workspace}}/PGDATABASE)
        psql -f ${{github.workspace}}/results/upload.sql
